
<style type="text/css" media="screen">

  .flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
  }

  .flipper.flip {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .flipper {
    -webkit-transition: 1.0s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 1.0s;
    -moz-transform-style: preserve-3d;

    -o-transition: 1.0s;
    -o-transform-style: preserve-3d;

    transition: 1.0s;
    transform-style: preserve-3d;
    position: relative;
  }

  .front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
  }

  .front {
    z-index: 2;
  }

  .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  #editor, #editorOpp {
    margin-top: 10px;
    padding: 0px;
    position: absolute;
    top: 10px;
    left: 0;
    height:350px;
    right: 0;
  }

  .opponents-ul {
    list-style: none;
    padding-left: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
  }

  .opponents-ul > li {
    display: inline;
    margin-left: 0px;
    margin-right: 5px;
  }

  button:focus {
    outline:0 !important;
  }

  /* we can/should add this to the main style sheet when it is created*/
</style>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
      <!-- THEME:
      <select id="theme">
        <option value="twilight" selected>twilight</option>
        <option value="solarized_light">solarized light</option>
        I can add a lot more themes here if we want to keep this feature
      </select>-->
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front" id="editor"></div>
            <div class ="back" id="editorOpp"></div>
          </div>
        </div>
      </p>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-2" id="code-duel-HUD">
      <div class="clock"></div>
      <div>
        <h4>Room: {{roomname}}</h4>
        <ul class="opponents-ul">
          <li>Opponents: </li>
          <li ng-repeat="opponent in opponents">{{ opponent }}</li>
        </ul>
      </div>

      <div>
        <button ng-click="reset()" class="btn btn-md btn-danger resetButton">Reset</button>
        <button ng-click="submit()" class="btn btn-md btn-danger submitButton">Submit</button>
        <button ng-click="flip()" class="btn btn-md btn-danger oponentCodeButton">Oponent's Code</button>
      </div>
      <br />
      <div class="well" ng-show="noOpponent">
        Your prompt will appear when your opponent joins the room. Ask a friend to join this room to duel!
      </div>
      <div class="well" ng-show="finishBeforeOpponent" ng-hide="!finishBeforeOpponent">
        Your score is {{score}}.<br />Your code did not pass all the tests.<br />Fix the code and submit it again.
      </div>
      <div class="well" ng-show="timesup" >
        Times up! You lose!
      </div>
  </div>
</div>
